<div class="container text-center">
  <h1>About Page</h1>
  <p> Welcome to Game Night! We'd like to make game night easier for you by 
  helping your board gamers pick a game without you having to describe 
  every single game you own!</p>
</div>